img {
    height: 8rem;
}

.header {
    justify-content: center;
    height: 10%;
}

span {
    display: flex;
    align-items: center;
}

h1 {
    padding-left: 1rem;
    font-size: 1.5rem;
    color: white;
}

.mat-toolbar {
    background-color: #bf6a6a;
}